body {
    color: #666666;

}

a {
	color: #0091C2;
	text-decoration: none;
}

a:hover {
	color: #0091C2;
	text-decoration: underline;
}


.growingBelly {
	margin: 10px 0;
	max-width: 300px;
	border: 1px solid #f9c8d3;
    border-radius: 8px 3px 8px 3px / 2px 18px 2px 18px;
	padding: 10px;
}

.growingBelly .left {
    float: left;
}
.growingBelly .right {
    margin-left: 52px;
}
.growingBelly .selection {
    position: relative;
}

.growingBelly .months {
    width: 100%;
    height: 26px;
    line-height: 22px; /* for safari */
    margin-bottom: 10px;

	border: 1px solid #B2DEED;
    border-radius: 8px 3px 8px 3px / 2px 18px 2px 18px;
    padding: 3px;
}
.growingBelly .months:focus {
    outline: none;
}
.growingBelly .showSelection {
	border: none;
    background: #0091c2;
    color: #fff;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 13px;
    outline: none;

	background: #0091c2 url(../images/tiny-icon-sprite-20130510.svg) center -917px no-repeat;

	padding: 0;
	height: 26px;
	position: absolute;
	border-radius: 5px;
}
.growingBelly .showSelection:hover,
.growingBelly .showSelection.active {
	background: #b2deed url(../images/tiny-icon-sprite-20130510.svg) center -957px no-repeat;
}
.growingBelly .showSelection.highlighted {
	border: 10px solid rgba(239,0,91,.9);
    border-radius: 5px;
    left: -10px;
    top: -10px;
}
.growingBelly .showSelection.highlighted:before {
	content: '';
    border: 10px solid transparent;
    border-bottom-color: rgba(239,0,91,.9);
    position: absolute;
    top: 30px;
    left: 30px;
    z-index: 100;
}
.growingBelly .showSelection.highlighted:after {
	content: "Tap here for more models";
	position: absolute;
    top: 50px;
    left: 20px;
    white-space: nowrap;
    background: rgba(239,0,91,.9);
    border-radius: 5px;
    padding: 10px;
    z-index: 100;
}
.growingBelly .showSelection .text {
	visibility: hidden;
}

.growingBelly #selectionTip:before {
    content: '';
    border: 10px solid transparent;
    border-bottom-color: rgba(239,0,91,.9);
    position: absolute;
    top: -20px;
    left: 20px;
}
.growingBelly #selectionOutline,
.growingBelly #selectionTip {
    display: none;
}




.growingBelly .content {
    clear:both;
	position: relative;
}
.growingBelly .photoWrapper {
	
}
.growingBelly .angleNav {
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
}

.growingBelly .angleNav {
	display: block;
	text-align: center;
}

.growingBelly .angleNav #prevAngle,
.growingBelly .angleNav #nextAngle {
	cursor: pointer;
}

.growingBelly .angleNav #prevAngle:before,
.growingBelly .angleNav #nextAngle:after {
	content: '';
	height: 0;
	width: 0;
	position: absolute;
	top: 5px;
	left: -10px;
	border: 15px solid transparent;
	border-right-color: rgba(255,255,255,.8);
}
.growingBelly .angleNav #nextAngle:after {
	border-right-color: transparent;
	border-left-color: rgba(255,255,255,.8);
	left: auto;
	right: -10px;
}

.growingBelly .angleNav:hover #nextAngle:after{
    border-left-color: rgba(255,255,255,1);
}
.growingBelly .angleNav:hover #prevAngle:before{
    border-right-color: rgba(255,255,255,1);
}


.growingBelly nav.menuLeft {
	color: #fff;
	background: #EBEAE6;
}
.growingBelly nav.menuLeft h3 {
	color: #00B9A4;
	background: #EBEAE6;
	padding: 20px 20px 15px 20px;
}

.growingBelly #accordion aside {
	background: #EBEAE6;
	padding: 0;
	border: 0;
}
.growingBelly #accordion ul {
	margin:0;
	padding:0;
	list-style: none;
}
.growingBelly #accordion ul li {
	padding: 0.75em 1em 0.75em 50px;
	font-size: 1.2em;
	display: block;
	cursor: pointer;
	position: relative;
	border-bottom: 1px dashed #B2DEED;
	color: #0091c2;
}
.growingBelly #accordion ul li.selected {
	background: #C7E7F2 url(../images/tiny-icon-sprite-20130510.svg) 30px -845px no-repeat;
}
.growingBelly #accordion h4:focus {
	outline: none;
}
.growingBelly #accordion h4 img {
	display: block;
	margin-top: 10px;
}
.growingBelly #accordion h4.ui-state-over,
.growingBelly #accordion h4 {
	background-color: #B2DEED;
	background-position: right center;
	background-repeat: no-repeat;
	margin: 0;
	padding: 9px 10px 9px 30px;
	position: relative;
	color: #0091c2;
	border: 0;
	border-top: 1px dashed #B2DEED;
	cursor: pointer;
	border-radius: 0;
	font: 400 18px/22px Georgia,"Times New Roman",Times,serif;
}
.growingBelly #accordion h4.ui-state-active {
	color: #fff;
	background: #0091c2 url(../images/tiny-icon-sprite-20130510.svg) 10px -876px no-repeat;
}

.growingBelly #accordion h4:after {
	position: absolute;
	top: 0;
	right: 0;
}
.growingBelly #accordion h4.model1Name:after {
	content: url(../images/model1Thumbnail.png);
}
.growingBelly #accordion h4.model2Name:after {
	content: url(../images/model2Thumbnail.png);
}
.growingBelly .monthText {
	padding: 10px;
}

/* swipe */
.swipe {
  overflow: hidden;
  visibility: hidden;
  position: relative;
}
.swipe-wrap {
  overflow: hidden;
  position: relative;
}
.swipe-wrap > div {
  float:left;
  width:100%;
  position: relative;
}

.growingBelly #photos {
	width: auto;
	max-height: 320px;
}
.growingBelly #photos img {
	max-width: 100%;
	height: auto;
    background: url(http://images.meredith.com/parents/images/template/shell/2012/loading/loading-circle2-green.gif) center center no-repeat;
}


.storyIntro {
    font: 100 15px/20px Georgia,"Times New Roman",Times,serif;
    margin: 0.5em 0;
}

/* right push menu */
body #headWrapper {
	background: url("http://images.meredith.com/parents/images/template/shell/2012/layout-whimsy-sprite-new.svg") repeat-x scroll 0 62px, 
	url("http://images.meredith.com/parents/images/template/shell/2012/parallax-sprite-xl.svg") repeat-x scroll 80% -280px, 
	url("http://images.meredith.com/parents/images/template/shell/2012/parallax-sprite-xl.svg") repeat-x scroll 60% -510px white;
}
#mainNavButton {
	position: fixed;
	top: 0;
	right: 5px;
	width: 40px;
	height: 32px;
	background: #8FC357 url("../images/tiny-icon-sprite-20130510.svg") no-repeat scroll center -915px;
	border-radius: 0 0 5px 5px;
	cursor: pointer;
	z-index: 599;
}
#mainNavButton span {
	visibility: hidden;
}
#mainNavButton.active {
	right: 245px;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
body #siteHeader {
	border-bottom: 10px solid #8fc357;
}
#siteNavContainer {
	width: 240px;
	background: #8FC357;
	z-index: 599;
	overflow-y: auto;
}
#siteNavContainer h4 {
	color: #fff;
	padding: 10px 20px 10px 10px;
	cursor: pointer;
	border-bottom: 1px dashed #fff;
	position: relative;
}
#siteNavContainer h4:focus {
	outline: none;
}
#siteNavContainer ul {
	list-style: none;
}
#siteNavContainer ul li a {
	color: #0091C2;
	border-bottom: 1px dashed #B2DEED;
	padding: 0.75em 1em;
	text-overflow: ellipsis;
	white-space: nowrap;
	background: #F0F9FB;
}
#siteNavContainer ul li a:hover {
	color: #0091C2;
	background: #fff;
	text-decoration: none;
}
#siteNavContainer .searchTerm {
	width: 161px;
}
#siteNavContainer h4.ui-state-default:after {
	content: '';
	border: 6px solid transparent;
	border-left-color: #fff;
	position: absolute;
	top: 16px;
	right: 5px;
}
#siteNavContainer h4.ui-state-active:after {
	content: '';
	border: 6px solid transparent;
	border-top-color: #fff;
	position: absolute;
	top: 20px;
	right: 10px;
}