@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);

@font-face {
	font-family: 'fontawesome';
	src:url('../fonts/fontawesome.eot');
	src:url('../fonts/fontawesome.eot?#iefix') format('embedded-opentype'),
		url('../fonts/fontawesome.svg#fontawesome') format('svg'),
		url('../fonts/fontawesome.woff') format('woff'),
		url('../fonts/fontawesome.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

body, html { font-size: 100%; 	padding: 0; margin: 0;}

body {
    font-family: 'Lato', Calibri, Arial, sans-serif;
    color: #47a3da;

}

a {
	color: #f0f0f0;
	text-decoration: none;
}

a:hover {
	color: #000;
}


#growingBelly {
	margin: 10px;
	max-width: 350px;
}

#growingBelly button,
#growingBelly select {
	border: none;
	background: #47a3da;
	color: #fff;
	padding: 5px;
	display: block;
	cursor: pointer;
	font-size: 0.8em;
}
#growingBelly button:hover {
	background: #258ecd;
}

#growingBelly button.active {
	background: #0d77b6;
}
#growingBelly .selection {
	margin-bottom: 10px;
	position: relative;
}

#growingBelly .left {
	width: 60px;
	float: left;
}

#growingBelly .right {
	margin-left: 70px;
	width: auto;
	background: yellow;
}

#growingBelly select {
	width: 100%;
}

#growingBelly .photoWrapper {
	background: rgba(71,163,218,.5);
	position: relative;
	margin-bottom: 10px;
}
#growingBelly .angleNav {
	position: absolute;
	background: rgba(0,0,0,.5);
	color: #fff;
	text-shadow: 0 1px 1px rgba(0,0,0,.8);
	padding: 10px;
	top: 60%;
	left: 0;
	right: 0;
}

#growingBelly .angleNav {
	display: block;
	text-align: center;
}

#growingBelly .angleNav #prevAngle,
#growingBelly .angleNav #nextAngle {
	cursor: pointer;
}

#growingBelly .angleNav #prevAngle:before,
#growingBelly .angleNav #nextAngle:after {
	content: '';
	height: 0;
	width: 0;
	position: absolute;
	top: 5px;
	left: -10px;
	border: 15px solid transparent;
	border-right-color: #fff;
}
#growingBelly .angleNav #nextAngle:after {
	border-right-color: transparent;
	border-left-color: #fff;
	left: auto;
	right: -10px;
}
/* why doesn't this work? 
#growingBelly .angleNav:hover .angle,
#growingBelly .angleNav .angle:before:hover,
#growingBelly .angleNav .angle:after:hover {
	color: rgba(255,255,255,.5);
	border-left-color: rgba(255,255,255,.5);
	border-right-color: rgba(255,255,255,.5);
}
*/
#growingBelly h3 {
	padding: 10px;
}
#growingBelly #accordion {
	color: #fff;
}
#growingBelly #accordion img {
	max-width: 100%;
}
#growingBelly #accordion ul {
	margin:0;
	padding:0;
	list-style: none;
}
#growingBelly #accordion ul li {
	padding: 5px 10px 5px 50px;
	display: block;
	cursor: pointer;
	position: relative;
}
#growingBelly #accordion ul li.selected:before {
	content: '';
	position: absolute;
	top: 8px;
	left: 30px;
	background-image: url(../images/checkmark.svg);
    background-size: cover;
	width: 15px;
	height: 15px;
}
#growingBelly #accordion ul li:hover {
	background-color: rgba(14,119,182,.3);
}
#growingBelly #accordion h4 {
	margin: 0;
	padding: 10px 10px 10px 30px;
	border-top: 1px solid #AFDEFA;
	position: relative;
}
#growingBelly #accordion h4#model1Name {
	background: rgba(14,119,182,.5) url(../images/model1Thumbnail.png) right center no-repeat;
}
#growingBelly #accordion h4#model2Name {
	background: rgba(14,119,182,.5) url(../images/model2Thumbnail.png) right center no-repeat;
}
#growingBelly #accordion h4#model1Name.ui-state-active:before,
#growingBelly #accordion h4#model2Name.ui-state-active:before {
	content: '';
	position: absolute;
	top: 10px;
	left: 5px;
	background-image: url(../images/checkmark.svg);
    background-size: cover;
	width: 20px;
	height: 20px;
}
#growingBelly #accordion h4 img {
	display: block;
	margin-top: 10px;
}
#growingBelly #accordion h4#model1Name:hover,
#growingBelly #accordion h4#model2Name:hover {
	background-color: rgba(14,119,182,.9);
	cursor: pointer;
}
#growingBelly #accordion aside {
}

/* swipe */
.swipe {
  overflow: hidden;
  visibility: hidden;
  position: relative;
}
.swipe-wrap {
  overflow: hidden;
  position: relative;
}
.swipe-wrap > div {
  float:left;
  width:100%;
  position: relative;
}

#growingBelly #photos {
	width: auto;
	height: 548px;
}
#growingBelly #photos img {
	max-width: 100%;
}