@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);

@font-face {
	font-family: 'fontawesome';
	src:url('../fonts/fontawesome.eot');
	src:url('../fonts/fontawesome.eot?#iefix') format('embedded-opentype'),
		url('../fonts/fontawesome.svg#fontawesome') format('svg'),
		url('../fonts/fontawesome.woff') format('woff'),
		url('../fonts/fontawesome.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

body, html { font-size: 100%; 	padding: 0; margin: 0;}

body {
    font-family: 'Lato', Calibri, Arial, sans-serif;
    color: #47a3da;

}

a {
	color: #f0f0f0;
	text-decoration: none;
}

a:hover {
	color: #000;
}


#growingBelly {
	margin: 10px;
	max-width: 370px;
}

#growingBelly .left {
    float: left;
}
#growingBelly .right {
    margin-left: 70px;
}
#growingBelly .showSelection,
#growingBelly .months {
    border: none;
    background: #47a3da;
    color: #fff;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 13px;
    outline: none;
}
#growingBelly .months {
    width: 100%;
    height: 26px;
    line-height: 22px; /* for safari */
}
#growingBelly .months:focus {
    outline: none;
}
#growingBelly .showSelection {
    position: relative;
}
#growingBelly .showSelection:hover {
    background: #258ecd;
}

#growingBelly .showSelection.active {
    background: #0d77b6;
}
#growingBelly .showSelection {
    margin-bottom: 10px;
}
#growingBelly #selectionOutline {
    position: absolute;
    top: -10px;
    left: -10px;
    width: 100%;
    height: 100%;
    border: 10px solid rgba(0,0,0,.5);
    border-radius: 5px;
}
#growingBelly #selectionTip {
    position: absolute;
    top: 50px;
    left: 20px;
    white-space: nowrap;
    background: rgba(0,0,0,.5);
    border-radius: 5px;
    padding: 10px;
    z-index: 100;
}
#growingBelly #selectionTip:before {
    content: '';
    border: 10px solid transparent;
    border-bottom-color: rgba(0,0,0,.5);
    position: absolute;
    top: -20px;
    left: 20px;
}




#growingBelly .content {
    clear:both;
}
#growingBelly .photoWrapper {
	position: relative;
	margin-bottom: 10px;
}
#growingBelly .angleNav {
	position: absolute;
	background: rgba(0,0,0,.5);
	color: rgba(255,255,255,1);
	text-shadow: 0 1px 1px rgba(0,0,0,.8);
	padding: 10px;
	top: 60%;
	left: 0;
	right: 0;
}

#growingBelly .angleNav {
	display: block;
	text-align: center;
}

#growingBelly .angleNav #prevAngle,
#growingBelly .angleNav #nextAngle {
	cursor: pointer;
}

#growingBelly .angleNav #prevAngle:before,
#growingBelly .angleNav #nextAngle:after {
	content: '';
	height: 0;
	width: 0;
	position: absolute;
	top: 5px;
	left: -10px;
	border: 15px solid transparent;
	border-right-color: rgba(255,255,255,.8);
}
#growingBelly .angleNav #nextAngle:after {
	border-right-color: transparent;
	border-left-color: rgba(255,255,255,.8);
	left: auto;
	right: -10px;
}

#growingBelly .angleNav:hover {
	color: rgba(255,255,255,1);
	background-color: rgba(0,0,0,.7);
}
#growingBelly .angleNav:hover #nextAngle:after{
    border-left-color: rgba(255,255,255,1);
}
#growingBelly .angleNav:hover #prevAngle:before{
    border-right-color: rgba(255,255,255,1);
}

#growingBelly h3 {
	padding: 10px;
}
#growingBelly #accordion {
	color: #fff;
}
#growingBelly #accordion img {
	max-width: 100%;
}
#growingBelly #accordion ul {
	margin:0;
	padding:0;
	list-style: none;
}
#growingBelly #accordion ul li {
	padding: 5px 10px 5px 50px;
	display: block;
	cursor: pointer;
	position: relative;
}
#growingBelly #accordion ul li.selected:before {
	content: '';
	position: absolute;
	top: 8px;
	left: 30px;
	background-image: url(../images/checkmark.svg);
    background-size: cover;
	width: 15px;
	height: 15px;
}
#growingBelly #accordion ul li:hover {
	background-color: rgba(14,119,182,.3);
}
#growingBelly #accordion h4 {
	margin: 0;
	padding: 10px 10px 10px 30px;
	border-top: 1px solid #AFDEFA;
	position: relative;
}
#growingBelly #accordion h4#model1Name {
	background: rgba(14,119,182,.5) url(../images/model1Thumbnail.png) right center no-repeat;
}
#growingBelly #accordion h4#model2Name {
	background: rgba(14,119,182,.5) url(../images/model2Thumbnail.png) right center no-repeat;
}
#growingBelly #accordion h4#model1Name.ui-state-active:before,
#growingBelly #accordion h4#model2Name.ui-state-active:before {
	content: '';
	position: absolute;
	top: 10px;
	left: 5px;
	background-image: url(../images/checkmark.svg);
    background-size: cover;
	width: 20px;
	height: 20px;
}
#growingBelly #accordion h4 img {
	display: block;
	margin-top: 10px;
}
#growingBelly #accordion h4#model1Name:hover,
#growingBelly #accordion h4#model2Name:hover {
	background-color: rgba(14,119,182,.9);
	cursor: pointer;
}


/* swipe */
.swipe {
  overflow: hidden;
  visibility: hidden;
  position: relative;
}
.swipe-wrap {
  overflow: hidden;
  position: relative;
}
.swipe-wrap > div {
  float:left;
  width:100%;
  position: relative;
}

#growingBelly #photos {
	width: auto;
	max-height: 320px;
}
#growingBelly #photos img {
	max-width: 100%;
    /*border: 10px solid rgba(71,163,218,.5);*/
}



/* styling month list
#growingBelly .months {
    position: relative;
    z-index: 102;
    width: 100%;
}
#growingBelly .months ul {
    position: absolute;
    top: 0;
    left: 0;
    background: #47A3DA;
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: 0.8em;
}
#growingBelly .months li {
    display: none;
    margin: 0;
}
#growingBelly .months .current {
    display: block;
}
#growingBelly .months a {
    display: block;
    padding: 10px 10px 10px 30px;
    text-align: left;
    cursor: pointer;
}
#growingBelly .months a:hover {
    color: #fff;
    background: rgba(14,119,182,.9);
}
#growingBelly .months .current a {
    background: none;
    color: #fff;
}

#growingBelly .months ul:hover {
    background-image: none;
}
#growingBelly .months ul:hover li {
    display: block;
    margin: 0 0 5px;
}
#growingBelly .months ul:hover .current {
    background: url(../images/icon-check.png) no-repeat 10px center;
}

#growingBelly .months.right ul {
    left: auto;
    right: 0;
}

#growingBelly .months.center ul {
    left: 50%;
    margin-left: -90px;
}
 */